@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@font-face {
  font-family: Galano Grotesque;
  src: url(../public/GalanoGrotesqueDEMO-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Galano Grotesque', 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f9;
}

a {
  text-decoration: none;
  color: #16113a;
}

p {
  line-height: 2.25;
  font-family: 'Poppins';
  font-size: 16px ;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1, h2, h3, h4, h5 {
  font-family: 'Galano Grotesque', 'Poppins';
  font-weight: 700;
  color:#16113a;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 11.090rem; /* 177.44px */}

h2 {font-size: 6.854rem; /* 109.6px */}

h3 {font-size: 4.236rem; /* 67.84px */}

h4 {font-size: 2.618rem; /* 41.92px */}

h5 {font-size: 1.618rem; /* 25.92px */}

small {font-size: 0.618rem; /* 9.92px */}

.container {
  font-family: 'Galano Grotesque', 'Poppins';
  width: 100%;
  max-width: 1920px;
  margin: 0px;
  padding:0px 0px 0px 0px;
  text-align: center;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  background-color: #16113a;
  
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e9e8f9;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #e9e8f9;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

a.logo {
  color: #e9e8f9;
}

a.logo:hover {
  color: #0fd354;
}
.btn.green {
  background-color: #0fd354;
  color:#16113a;
  border-radius: 100px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.incomes, 
.expenses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.income, 
.expense {
  background-color: #fff;
  margin:0px;

  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
}
.income p,
.expense p {
  text-align: left;
  flex-grow: 0;
  flex-shrink: 0;  
  width: 20%;
}

.income .close,
.expense .close {
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 1em;
  color:#16113a;
}

.ReactModal__Content {
  width:fit-content;
  height: fit-content;
  margin: 0 auto;
}

.form,
.content {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #16113a;
  border-radius: 5px;
  background: #16113a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #16113a;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #16113a transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
.plus {
	color: #2ecc71;
  }
  
.minus {
	color: #c0392b;
  }

  .list {
	list-style-type: none;
	padding: 30;
	margin-bottom: 40px;
  }
  
  .list li {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	color: #16113a;
	display: flex;
	justify-content: space-between;
	position: relative;


  }
  
  .list li.plus {
	border-right: 5px solid #2ecc71;
  }
  
  .list li.minus {
	border-right: 5px solid #c0392b;
  }



.main {
    background-color: #f8f8f9;
    padding: 25px;
    display: grid;
    grid-template-columns:  300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "sidebar content"
        "sidebar content"
        "sidebar content";
    height: 100vh;
    margin:0;
}

.main-sidebar {
  grid-area: sidebar;
  background-color: #f8f8f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
}
    

.sidebar-element {
  font-family: 'Galano Grotesque', Poppins;
  font-size: 1rem;
  border: none;
  color:#16113a;
  background-color: #fff;
  border-radius: 50px;
  margin: 10px;
  height: 50px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 1em 1em 2em;
  gap: 1em;
  cursor: pointer;
}
.sidebar-element.user {
  background-color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 2em;
  height: 60px;
  cursor: pointer;
}


.accent {
  color: #a19ce2;
}

.main-content {
  background-color: #f8f8f9;
  padding: 25px;
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
      "c1 c2 c3"
      "c4 c4 c5"
      "c6 c6 c7";
  gap: 20px;
  height: 100%;

}

.cards.new {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}

.btn.income {
  background-color: #2ecc71;
  border: none;
}
.btn.expense {
  background-color: #c0392b;
  border: none;
}

.cards {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    gap: 1rem;
}


.cards:nth-child(1) {
    grid-area: c1;
}

.cards:nth-child(2) {
    grid-area: c2;
}

.cards:nth-child(3) {
    grid-area: c3;
}

.cards:nth-child(4) {
    grid-area: c4;
}

.cards:nth-child(5) {
    grid-area: c5;
}

.cards:nth-child(6) {
    grid-area: c6;
}

.cards:nth-child(7) {
    grid-area: c7;
}

@media (max-width: 925px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "content"
        "content"
        "content";
    height:100%
  }

  .main-sidebar {
    display: none;
  }

  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 200px);
    grid-template-areas: initial;
    height:100%

  }
 .cards {
    grid-area: initial !important;
  }
}