@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@font-face {
  font-family: Galano Grotesque;
  src: url(../public/GalanoGrotesqueDEMO-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Galano Grotesque', 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f9;
}

a {
  text-decoration: none;
  color: #16113a;
}

p {
  line-height: 2.25;
  font-family: 'Poppins', sans-serif;
  font-size: 16px ;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1, h2, h3, h4, h5 {
  font-family: 'Galano Grotesque', 'Poppins', sans-serif;
  font-weight: 700;
  color:#16113a;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 11.090rem; /* 177.44px */}

h2 {font-size: 6.854rem; /* 109.6px */}

h3 {font-size: 4.236rem; /* 67.84px */}

h4 {font-size: 2.618rem; /* 41.92px */}

h5 {font-size: 1.618rem; /* 25.92px */}

small {font-size: 0.618rem; /* 9.92px */}

.container {
  font-family: 'Galano Grotesque', 'Poppins', sans-serif;
  max-width: 1920px;
  margin: 0px;
  padding:0px 0px 0px 0px;
  text-align: center;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  background-color: #fff;
  
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #16113a;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #fff;
}

.header ul li a:hover {
  color: #16113a;
}

.header ul li a svg {
  margin-right: 5px;
}

a.logo {
  color: #551FFF;
}

a.logo:hover {
  color: #16113a;
}

p.date {
  font-size: small;
  color:#555;
}

.form,
.content {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}
.form-group.login {
  margin-right: 20%;
  margin-left: 20%;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.ReactModal__Content {
  width:fit-content;
  height: fit-content;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #551FFF;
  border-radius: 100px;
  background: #551FFF;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #16113a;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #16113a transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
.plus {
	color: #2ecc71;
}
  
.minus {
	color: #c0392b;
}

.accent {
  color: #551FFF;
}

@media (max-width: 925px) {
  .form {
    width: 90%;
  }

  .sidebar {
    display: none;
  }
}

/* Styles for pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for pagination container */
.pagination-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styles for previous and next buttons */
.previous,
.next {
  margin: 5px 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f8f8f9;
}

/* Styles for disabled buttons */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Styles for active button */
.active {
  color: #551FFF;
  background-color: #F3F0FF;
  padding: 15px 25px;
  border-radius: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 100%;
  gap: 1rem;
  margin: 0 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 40px 10px;
  margin-bottom: 20px;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
}

.sidebar a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 15px 25px;
}


.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 10px;
}


.kpi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.special-btn-container {
  background-color: #F8F9FC ;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin-top: 60px;
}


.special-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #551FFF;
  background-color: #F3F0FF;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  border: none;
}

.table-container {
  background-color: #F8F9FC ;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin-top: -10px;
}

.table {
  background-color: #fff ;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
}

.summary-container {
  background-color: #F8F9FC ;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff ;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
}

.balance-data,
.expenses-data,
.incomes-data,
.savings-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.data {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7px 0px;
}
.icon {
  font-size: 18px;
  border-radius: 12px;
  padding: 20px 22px 15px 22px;
  align-self: center;
}

.expenses-data .icon {
  background-color: #EDE8FF;
  color: #551FFF;
}
.savings-data .icon {
  background-color: #FFEBEF;
  color: #FD2254;
}
.incomes-data .icon {
  background-color: #EAF9FF;
  color: #00B7FE;
}
.balance-data .icon {
  background-color: #FFF2E9;
  color: #FF6A00;
}

.linechart {
  background-color: #fff ;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
}

.linechart-container {
  background-color: #f9f9f9 ;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.insights {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.insights-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.donutchart,
.budgetlist {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.transaction-table {
  background-color: #fff ;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

td {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #16113a;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #e6e6e6;
}

th:nth-child(2) {
  text-align: right;
}

.close {
  background-color: #f8f8f9;
  border-radius: 9999px;
  border: none;
  padding: 8px;
  color:#c0392b;
}

.close-column {
  text-align: end;
}

.amount-column {
  text-align: end;
}

.form {
  position: relative;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(33, 28, 107, 0.116);
  border-radius: 20px;
  backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid #e6e6e6;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #16113a;
}

.login-btn {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #551FFF;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

.login-btn:hover {
background-color: #ad94ff;
}
.register {
  font-size: 0.9rem;
  color: #16113a;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #551FFF;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

body {
  background-image: #F8F9FC;
}

/* Dashboard Design */


h4 {
  background: conic-gradient(from 176.52deg at 50% 50%, #00B7FE -87.27deg, #551FFF 75.86deg, #2674FE 197.18deg, #00B7FE 272.73deg, #551FFF 435.86deg);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}



.calculator {
  width:60%;
}
.results{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  gap:2rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 3rem;
  box-shadow: 0px 12.6698px 22.5241px rgba(208, 210, 218, 0.15);
  text-align: left;
}

.results h5 {
  background: conic-gradient(from 176.52deg at 50% 50%, #00B7FE -87.27deg, #551FFF 75.86deg, #2674FE 197.18deg, #00B7FE 272.73deg, #551FFF 435.86deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.results .form {
  text-align: center;
}